---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>igencore</title>
  </head>
  <body>
    <slot />
    
    <!-- Script de Preline -->
    <script is:inline src="https://cdn.jsdelivr.net/npm/preline@2/dist/preline.js"></script>
  </body>
</html>